@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

<ul>
    <li>
        <a href="@controllers.routes.ProductController.read()">Products</a>
        <a href="@controllers.routes.ProductController.create()">Add</a>
    </li>
    <li>
        <a href="@controllers.routes.CategoryController.read()">Categories</a>
        <a href="@controllers.routes.CategoryController.create()">Add</a>
    </li>
    <li>
        <a href="@controllers.routes.UserController.read()">Users</a>
    </li>
    <li>
        <a href="@controllers.routes.CartController.read()">Carts</a>
        <a href="@controllers.routes.CartController.create()">Add</a>
    </li>
    <li>
        <a href="@controllers.routes.WishListController.read()">Wish List</a>
        <a href="@controllers.routes.WishListController.create()">Add</a>
    </li>
    <li>
        <a href="@controllers.routes.OpinionController.read()">Opinions</a>
        <a href="@controllers.routes.OpinionController.create()">Add</a>
    </li>
    <li>
        <a href="@controllers.routes.PaymentController.read()">Payments</a>
        <a href="@controllers.routes.PaymentController.create()">Add</a>
    </li>
    <li>
        <a href="@controllers.routes.OrderController.read()">Order</a>
        <a href="@controllers.routes.OrderController.create()">Add</a>
    </li>
    <li>
        <a href="@controllers.routes.ReturnController.read()">Return</a>
        <a href="@controllers.routes.ReturnController.create()">Add</a>
    </li>
    <li>
        <a href="@controllers.routes.DiscountCodeController.read()">Discount Code</a>
        <a href="@controllers.routes.DiscountCodeController.create()">Add</a>
    </li>
</ul>

