@(products: Seq[Product], category: List[Seq[ProductCategory]])
@import java.math.BigInteger; var i=0

<ul>
  @for(product <- products) {
    <li>
      <strong>@product.name</strong>
      @product.description
      @product.price
      <strong>categories: </strong>
      @for(c <- category(i)) {
        @c.categoryId
      }

      <a href="@controllers.routes.ProductController.update(product.id)">Edit</a>
      <a href="@controllers.routes.ProductController.delete(product.id)">Delete</a>
    </li>
    @(i+=1)
  }
</ul>

