@(return_t: Form[CreateReturnForm], user: Seq[User], product: Seq[Product])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.ReturnController.createHandle()) {
    @helper.CSRF.formField

    User:
    <select name="userId" id="userId">
    @for(u <- user){
        <option value="@u.id">@u.firstName @u.secondName</option>
    }
    </select>

    <br />
    Product:
    <select name="productId" id="productId">
    @for(p <- product){
        <option value="@p.id">@p.name</option>
    }
    </select>

    @inputText(return_t("status"))

    <div class="buttons">
        <input type="submit" value="Add Return"/>
    </div>
}